<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <!-- <mat-icon>menu</mat-icon> -->
    <img
      src="https://t4.ftcdn.net/jpg/04/02/84/53/360_F_402845356_uVLhPVNPmfcBEFZ0NFq79AsC0gVZsMvc.jpg"
      width="50"
      alt="logo"
    />
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
